<div class="center" id="contact">
	<h2>Informations</h2>
	<a href="mailto:contact@segwada.com">contact@segwada.com</a>
	<h2>Réservations</h2>
	<a href="mailto:reservation@segwada.com">reservation@segwada.com</a>
	<h2>Service Presse</h2>
	<a href="mailto:service-presse@segwada.com">service-presse@segwada.com</a>
</div>
