<img src="/images/guadeloupe.jpg" alt="" id="article_pict" />
<p>
	Découvrez la Guadeloupe de manière insolite grâce au Segway ! Ecologique, instinctif, ludique et silencieux le gyropode Segway n’a pas d’équivalent.
</p>
<p>
	<span><b>Déroulement :</b></span>
</p>
<p>
	Après une initiation de quelques minutes, vous dompterez votre Segway à travers de somptueux paysages qui vous feront découvrir la Guadeloupe autrement !
</p>
<p>
	Encadrés par un moniteur, vous évoluerez en toute sécurité et recevrez tous les conseils nécessaires pour un plaisir maximum.
</p>
<p class="clear">N’attendez plus et venez éprouver cette sensation de glisse unique en son genre !</p>
<p class="clear center"><a href="/contact"><img src="/images/contact_button.jpg" width="163" height="42" class="marger" /></a></p>
