<div id="title_article">
	<h2>Le Segway <span class="greenColor">i2</span>, la mobilité écologique.</h2>
</div>
<br/>
<div id="article">
	<img src="/images/galerie_i2/segway_i2_article.jpg" alt="" id="article_pict" />
	<p>
		Le gyropode SegwayT i2 est le modèle le plus polyvalent de la gamme. 
		Construit pour fonctionner sur tous types de terrains avec une grande stabilité, 
		il est doté de la nouvelle technologie LeanSteerT et du dispositif de commande InfoKeyT. 
		Il est la parfaite combinaison de fiabilité, design, maniabilité. 
		Il vous permettra de vous laisser glisser qu'il s'agisse d'aller au travail, de vous balader ou tout simplement de travailler.
	</p> 
	<p>
		Le cadre LeanSteer et le guidon se penchent sur la droite ou sur la gauche répondant parfaitement à l'inclinaison produite naturellement par votre corps 
		lorsqu'il souhaiter changer de direction. Le i2 semble anticiper tous vos mouvements et s'ajuste afin que vous puissiez les contrôler toujours avec facilité.
	</p>
	<p>
		Le dispositif de commande sans fil InfoKey vous indiquera en temps réel toutes les informations pratiques concernant votre trajet, 
		comme la quantité d'énergie restante, le nombre de kilomètres parcourus ou la vitesse instantanée. 
		Il vous permettra aussi d'enclencher le mode de protection pour votre SegwayT i2 dans le cas où vous le laisseriez sans surveillance. 
	</p>
	<img src="/images/galerie_i2/segway_i2_article_2.jpg" alt="" id="article_pict_2"/>
	<p>
		Le SegwayT i2 est livré d'origine avec les batteries Lithium-ion Saphion®. 
		Ces batteries permettent d'atteindre une autonomie de près de 38 km pour une seule charge (dépendant de la topographie, des conditions climatiques, 
		de votre poids et de votre style de conduite). Les batteries Li-ion Saphion sont sans entretien, il suffit de brancher son SegwayT i2 autant que possible 
		sur le secteur pour qu'elles s'entretiennent toute seules. Elles ont une durée de vie qui est donnée pour dépasser les 1 000 cycles de chargements et 
		peuvent être utilisées sur une plage de températures allant de -10°C à +50°C.
	</p>
	<p>
		Le i2 est disponible en Noir Anodisé ou Blanc Laqué. Ces personnalisations de couleur sont sur le cadre LeanSteer et la protection de console.
	</p>						
	<p>
		Divers accessoires sont disponibles pour le i2, et aussi trois packs d'accessoires qui 
		permettent de lui donner une personnalité pour une utilisation particulière. 
	</p>						
</div>

<div id="lien_details_article">
	<div id="title_gallery">
		<h2><a href="#" id="show_gallery_segway">D&eacute;couvrez-le en images&nbsp;&nbsp;</a></h2>
	</div>
	<div id="details_segway_title">
		<h2><a href="#" id="show_details_segway">Ses caract&eacute;ristiques</a></h2>
	</div>
	<div id="details_to_segwayFR">
		<h2><a href="http://www.segway.fr/gyropodes/spec_i2.htm" target="_blank" id="show_details_segway">En savoir plus ?</a></h2>
	</div>							
</div>
<div id="show" style="clear: both;">
	<div id="galerie_article">
		<ul class="jcarousel-skin-tango" style="padding-left:0;">
			<li><a href="/images/galerie_i2/i2_galerie_1.jpg" rel="lyteshow" title=""><img src="/images/galerie_i2/mini/i2_galerie_1_min.jpg" alt="" /></a></li>				
			<li><a href="/images/galerie_i2/i2_galerie_2.png" rel="lyteshow" title=""><img src="/images/galerie_i2/mini/i2_galerie_2_min.jpg" alt="" /></a></li>				
			<li><a href="/images/galerie_i2/i2_galerie_3.jpg" rel="lyteshow" title=""><img src="/images/galerie_i2/mini/i2_galerie_3_min.jpg" alt="" /></a></li>
			<li><a href="/images/galerie_i2/i2_galerie_4.jpg" rel="lyteshow" title=""><img src="/images/galerie_i2/mini/i2_galerie_4_min.jpg" alt="" /></a></li>
			<li><a href="/images/galerie_i2/i2_galerie_5.jpg" rel="lyteshow" title=""><img src="/images/galerie_i2/mini/i2_galerie_5_min.jpg" alt="" /></a></li>
			<li><a href="/images/galerie_i2/i2_galerie_6.jpg" rel="lyteshow" title=""><img src="/images/galerie_i2/mini/i2_galerie_6_min.jpg"  alt="" /></a></li>
			<li><a href="/images/galerie_i2/i2_galerie_7.jpg" rel="lyteshow" title=""><img src="/images/galerie_i2/mini/i2_galerie_7_min.jpg"  alt="" /></a></li>
			<li><a href="/images/galerie_i2/i2_galerie_8.jpg" rel="lyteshow" title=""><img src="/images/galerie_i2/mini/i2_galerie_8_min.jpg"  alt="" /></a></li>
			<li><a href="/images/galerie_i2/i2_galerie_9.jpg" rel="lyteshow" title=""><img src="/images/galerie_i2/mini/i2_galerie_9_min.jpg"  alt="" /></a></li>
		</ul>
	</div>	
	<div id="details_segway">
		<table cellspacing="0" cellpadding="4" border="0" class="tab_details_segway">
			<tbody>
				<tr>
					<td class="title">Vitessse Maximum:</td>
					<td class="properties"> 20 km/h</td>
				</tr>
				<tr>
					<td class="title_2">Capacité de chargement :</td>
					<td class="properties_2">118 kg</td>
				</tr>
				<tr>
					<td class="title">Encombrement :</td>
					<td class="properties"> 67 x 64 cm</td>
				</tr>
				<tr>
					<td class="title_2">Poids :</td>
					<td class="properties_2"> 47,7 kg</td>
				</tr>
				<tr>
					<td class="title">Type de batterie :</td>
					<td class="properties"> Deux batteries Lithium-ion Saphion®</td>
				</tr>
				<tr>
					<td class="title_2">Autonomie :</td>
					<td class="properties_2">25 à 38km</td>
				</tr>
				<tr>
					<td class="title">Moteurs :</td>
					<td class="properties"> Deux moteurs sans balais (1,5 kW chacun) </td>
				</tr>
				<tr>
					<td class="title_2">Jantes :</td>
					<td class="properties_2"> 35 cm en thermoplastique renforcé</td>
				</tr>
				<tr>
					<td class="title">Roues :</td>
					<td class="properties"> 19 pouces avec chambres à air </td>
				</tr>
				<tr>
					<td class="title_2">Hauteur de plate-forme :</td>
					<td class="properties_2"> 21 cm</td>
				</tr>
				<tr>
					<td class="title">Garde au sol :</td>
					<td class="properties"> 7,6 cm</td>
				</tr>
				<tr>
					<td class="title_2">Écran :</td>
					<td class="properties_2">Dispositif de commande Infokey®</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
