<div id="title_article">
	<h2>Boostez vos séminaires et vos équipes&nbsp;!</h2>
</div>
<br/>
<div id="article">

	<img src="/images/seminaire.jpg" alt="" id="article_pict" />
	<p>Profitez de vos journées d’entreprise pour faire un bon dans le futur ! Partagez des souvenirs inoubliables avec vos collaborateurs&nbsp;!</p>
	<p>Tous les scénarios sont possibles (courses, ballades guidées, visites d’usine ou de chantier, baptême en Segway, etc...).</p>
	<p><span><b>Déroulement :</b></span></p>
	<p>Après une initiation de quelques minutes, tous les participants évoluent en toute sécurité, accompagnés de moniteurs Segway.</p>
	<p class="clear center"><a href="/contact"><img src="/images/contact_button.jpg" width="163" height="42"  class="marger" /></a></p>

</div>