	<div id="title_article">
		<h2>Le Segway <span class="greenColor">x2</span>, l'émotion tout terrain.</h2>
	</div>
	<br/>
	<div id="article">
		<img src="/images/galerie_x2/segway_x2_article.jpg" alt="" id="article_pict" />
		<p>
			Le Segway TP x2 permet d'emporter les qualités des Transporteurs Personnels Segway au delà des sentiers battus. 
			Construit pour fonctionner sur tous types de terrains avec une grande stabilité, 
			il est doté de la nouvelle technologie LeanSteerT et du dispositif de commande InfoKeyT. 
		</p> 
		<p>
			Il est la parfaite combinaison de fiabilité, design, maniabilité. 
			Ses larges pneus basse pression lui confèrent une meilleure stabilité et un meilleur confort sur les terrains glissants 
			(herbe, graviers, sable) ou accidentés ce qui vous permettra de l'utiliser partout dans la nature sans pour autant impacter l'environnement.
		</p>
		<p>
			Le cadre LeanSteer et le guidon se penchent sur la droite ou sur la gauche répondant parfaitement à l'inclinaison produite naturellement 
			par votre corps lorsqu'il souhaiter changer de direction. Le x2 semble anticiper tous vos mouvements et s'ajuste afin que vous puissiez 
			les contrôler toujours avec facilité. Le dispositif de commande sans fil InfoKey vous indiquera en temps réel toutes les informations 
			pratiques concernant votre trajet, comme la quantité d'énergie restante, le nombre de kilomètres parcourus ou la vitesse instantanée. 
			Il vous permettra aussi d'enclencher le mode de protection pour votre Segway x2 dans le cas où vous le laisseriez sans surveillance.
		</p>
		<img src="/images/galerie_x2/segway_x2_article_2.jpg" alt="" id="article_pict_2"/>
		<p>
			Le Segway x2 est livré d'origine avec les batteries Lithium-ion Saphion®. 
			Ces batteries permettent d'atteindre une autonomie de près de 19 km pour une seule charge 
			(dépendant de la topographie, des conditions climatiques, de votre poids et de votre style de conduite). 
			Les batteries Li-ion Saphion sont sans entretien, il suffit de brancher son Segway x2 autant que possible sur le secteur 
			pour qu'elles s'entretiennent toute seules. Elles ont une durée de vie qui est donnée pour dépasser les 1 000 cycles de chargements 
			et peuvent être utilisées sur une plage de températures allant de -10°C à +50°C.
		</p>
		<p>
			Le x2 est disponible en Noir Anodisé ou Blanc Laqué. Ces personnalisations de couleur sont sur le cadre LeanSteer et la protection de console.
		</p>						
		<p>
			Divers accessoires sont disponibles pour le x2, et aussi trois packs d'accessoires qui permettent de lui donner une personnalité 
			pour une utilisation particulière.
		</p>						
	</div>
	
	<div id="lien_details_article">
		<div id="title_gallery">
			<h2><a href="#" id="show_gallery_segway">D&eacute;couvrez-le en images&nbsp;&nbsp;</a></h2>
		</div>
		<div id="details_segway_title">
			<h2><a href="#" id="show_details_segway">Ses caract&eacute;ristiques</a></h2>
		</div>
		<div id="details_to_segwayFR">
			<h2><a href="http://www.segway.fr/gyropodes/spec_x2.htm" target="_blank" id="show_details_segway">En savoir plus ?</a></h2>
		</div>							
	</div>
	<div id="show" style="clear: both;">
		<div id="galerie_article">
			<ul class="jcarousel-skin-tango" style="padding-left:0;">
				<li><a href="/images/galerie_x2/segway_x2.jpg" rel="lyteshow" title=""><img src="/images/galerie_x2/mini/segway_x2_min.jpg" alt="" /></a></li>				
				<li><a href="/images/galerie_x2/Segway_x2_Golf.jpg" rel="lyteshow" title=""><img src="/images/galerie_x2/mini/segway_x2_golf_min.jpg" alt="" /></a></li>				
				<li><a href="/images/galerie_x2/segway_chanel.jpg" rel="lyteshow" title=""><img src="/images/galerie_x2/mini/segway_x2_chanel_min.jpg"  alt="" /></a></li>				
				<li><a href="/images/galerie_x2/segway_x2_chanel_2.jpeg" rel="lyteshow" title=""><img src="/images/galerie_x2/mini/segway_x2_chanel_2_min.jpg" alt="" /></a></li>				
				<li><a href="/images/galerie_x2/segway_x2_allmodels.jpg" rel="lyteshow" title=""><img src="/images/galerie_x2/mini/segway_x2_tout_model_min.jpg"  alt="" /></a></li>				
				<li><a href="/images/galerie_x2/x2_details.jpg" rel="lyteshow" title=""><img src="/images/galerie_x2/mini/segway_x2_details_min.jpg" alt="" /></a></li>				
			</ul>
		</div>	
		<div id="details_segway">
			<table cellspacing="0" cellpadding="4" border="0" class="tab_details_segway">
				<tbody>
					<tr>
						<td class="title">Vitessse Maximum:</td>
						<td class="properties"> 20 km/h</td>
					</tr>
					<tr>
						<td class="title_2">Capacité de chargement :</td>
						<td class="properties_2">118 kg</td>
					</tr>
					<tr>
						<td class="title">Encombrement :</td>
						<td class="properties"> 67 x 84 cm</td>
					</tr>
					<tr>
						<td class="title_2">Poids :</td>
						<td class="properties_2"> 54,4 kg</td>
					</tr>
					<tr>
						<td class="title">Type de batterie :</td>
						<td class="properties"> Deux batteries Lithium-ion Saphion®</td>
					</tr>
					<tr>
						<td class="title_2">Autonomie :</td>
						<td class="properties_2">19 km en tout terrain </td>
					</tr>
					<tr>
						<td class="title">Moteurs :</td>
						<td class="properties"> Deux moteurs sans balais (1,5 kW chacun) </td>
					</tr>
					<tr>
						<td class="title_2">Jantes :</td>
						<td class="properties_2"> 25 cm en Aluminium </td>
					</tr>
					<tr>
						<td class="title">Roues :</td>
						<td class="properties"> 7 pouces de largeur à basse pression </td>
					</tr>
					<tr>
						<td class="title_2">Hauteur de plate-forme :</td>
						<td class="properties_2"> 24 cm</td>
					</tr>
					<tr>
						<td class="title">Garde au sol :</td>
						<td class="properties"> 11.4 cm</td>
					</tr>
					<tr>
						<td class="title_2">Écran :</td>
						<td class="properties_2">Dispositif de commande Infokey®</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>