<img src="/images/X2.jpg" alt="" id="article_pict" />
<p>
	Découvrez les qualités des Transporteurs Personnels Segway au delà des sentiers battus.
	Sur tous types de terrains, ses larges pneus basse pression lui confèrent un confort et une grande stabilité.
	Les terrains glissants ou accidentés qu'offre la nature, sont ainsi exploités sans impact sur l'environnement.
	Le x2 semble anticiper tous vos mouvements et s'ajuste afin que vous puissiez les contrôler toujours avec facilité
</p>
<p>
	<span><b>Rayon de braquage : Zéro !</b></span>
</p>
<p>
	La particularité des Segway est d'avoir les deux roues à coté l'une de
	l'autre, ce qui lui permet de pouvoir effectuer des virages sur lui même.
	Ainsi, il n'a besoin que de sa largeur pour effectuer un virage à 180°.
	Ajouter à cela sa facilité à passer de marche avant à marche arrière et
	vous obtenez ainsi une maniabilité exceptionnelle et inégalée.
</p>
<p class="clear center"><a href="/contact"><img src="/images/contact_button.jpg" width="163" height="42"  class="marger" /></a></p>
